@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: #1a1a1a;
  font-family: var(--font-sans), sans-serif;
}

/* Aplicación de fuente Serif para los títulos corporativos */
h1, h2, .font-serif {
  font-family: var(--font-serif), Georgia, serif;
}
